:root {
	--offset: 1rem;
}

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	height: 100vh;
}

.hero {
	height: 110vh;
	width: 100%;
	/* background-color: #fffff3; */
	background-color: beige;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 55px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo {
	color: black;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span {
	color: gold;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover {
	color: gold;
	transition: 0.2s;
	/* box-shadow: #222 1px 0 5px; */
	transform: translateY(-5px);
}

.content {
	position: absolute;
	top: 67%;
	left: 8%;
	transform: translateY(-50%);
}

h1 {
	color: black;
	margin: 20px 0px 20px;
	font-size: 70px;
}

h3 {
	color: black;
	font-size: 25px;
	margin-bottom: 50px;
}

h4 {
	color: black;
	letter-spacing: 2px;
	font-size: 20px;
}

.wp {
	color: black;
	margin: 20px 0px 20px;
	font-size: 70px;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.me {
	color: black;
	letter-spacing: 2px;
	line-height: 28px;
	font-size: 18px;
}

.about {
	width: 100%;
	background-color: white;
}

.main {
	width: 405px;
	/* max-width: 90%; */
	margin: 0px 750px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 100px 0px;
}

.imgContainer {
	width: 1pc;
	height: 1px;
	width: 44pc;
	padding-top: 20px;
	margin-left: 20px;
}

.about-text h2 {
	color: black;
	font-size: 80px;
	text-transform: capitalize;
	/* margin-bottom: 30px auto; */
}

.about-text h5 {
	color: black;
	letter-spacing: 2px;
	font-size: 23px;
	/* margin-bottom: 25px; */
	text-transform: capitalize;
}

.about-text p {
	color: black;
	letter-spacing: 2px;
	/* line-height: 28px; */
	font-size: 18px;
	/* margin-bottom: 45px; */
}

.service {
	background: #101010;
	width: 100%;
	padding: 5px 0px;
	/* max-height: 50vh; */
}

.title h2 {
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

/* ************************************************************************* */

.card {
	position: relative;
	overflow: hidden;
	max-width: 18rem;
	max-height: 25rem;
	height: 25rem;
	width: 100%;
	padding: 20px 35px;
	margin: 40px;
	color: #fff;
	background: #000;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0px 0px 5px #0000, 0px 0px 15px blueviolet;
	cursor: pointer;
}

.card:hover {
	transform: translateY(-10px);
	box-shadow: #222 1px 0 5px;
	transform: scale(1.1);
	transition: ease-in-out 0.8s;
}

h5 {
	color: white;
	font-size: 28px;
	margin-bottom: 15px;
}

.card img {
	max-width: 100%;
	object-fit: cover;
	backface-visibility: hidden;
	vertical-align: top;
	transition: all 0.3s ease;
}

.corner::before,
.corner::after {
	position: absolute;
	content: "";
	background: #fff;
	z-index: 1;
	opacity: 0;
	transition: all 0.4s ease;
}

.left-top::before,
.left-top::after {
	top: var(--offset);
	left: var(--offset);
}

.right-top::before,
.right-top::after {
	top: var(--offset);
	right: var(--offset);
}

.right-bottom::before,
.right-bottom::after {
	bottom: var(--offset);
	right: var(--offset);
}

.left-bottom::before,
.left-bottom::after {
	bottom: var(--offset);
	left: var(--offset);
}

.corner::before {
	width: 0;
	height: 1px;
}

.corner::after {
	height: 0;
	width: 1px;
}

.card figcaption {
	position: absolute;
	text-align: center;
	top: 8%;
	left: 50%;
	max-width: 20rem;
	width: 100%;
	transform: translate(-50%, 50%);
}

.card p {
	opacity: 0;
	font-size: 0.95rem;
	color: rgb(255, 255, 255);
	font-family: "Poppins", sans-serif;
	text-shadow: 2px 2px 4px rgba(0, 0, 0);
	letter-spacing: 1px;
	transition: all 0.4s ease;
}

.card:hover {
	zoom: 1;
	filter: alpha(opacity=20);
	opacity: 1;
}

.card:hover .corner::before {
	width: 40px;
	opacity: 1;
	transition-delay: 0.2s;
}

.card:hover .corner::after {
	height: 40px;
	opacity: 1;
	transition-delay: 0.2s;
}

.card:hover img {
	opacity: 0.5;
}

.card:hover p {
	opacity: 0.7;
	transition-delay: 0.3s;
}

/* ******************************************************************************************* */

.contact-me {
	width: 100%;
	height: 500px;
	/* background: #191919; */
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%), url(phone\ jpg.jpg);
}

h7 {
	color: white;
	font-size: 100px;
}

.contact-me p {
	color: white;
	font-size: 19px;
	font-family: 'Poppins';
	letter-spacing: 1px;
	/* font-weight: bold; */
	margin-bottom: 20px;
}


.fa-phone {
    font-size:20px;
    color: #76f21d; /* Phone*/
}
.fa-envelope {
    font-size:20px;
}
.fa-square-instagram {
    font-size:32px;
    color: #85250a; /* Instagram */
}

.fa-linkedin {
    font-size:32px;
    color: #0d507a; /* LinkedIn */
}
.fa-x-twitter {
    font-size:32px;
	color: #000;
}

ul{
	/* display: flex; */
	list-style: none;
}

.links{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

li{
	color: #fff;
	padding: 8px;
	letter-spacing: 4px;
}

footer {
	position: relative;
	width: 100%;
	height: 190px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button {
	font-size: 18px;
	border-radius: 10px;
	padding: 10px 45px;
	background-color: gold;
	border: 2px solid transparent;
	font-weight: bold;
	transition: transform 0.4s;
	margin: 10px;
}

button:hover {
	transform: scale(1.2);
}

button a {
	text-decoration: none;
	color: white;
}
